/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face {
     font-family: font;
     src: url(/font.ttf);
 }

body {
  background-image: url("/dice.jpg");
  background-size: 10%;
  background-repeat: no-repeat;
  background-position: static;
  background-size: cover;
  font-family: 'font';
  font-size: 240%;
}
.xo1{
  size: 75%;
  top: 20%;
  left: 70%;
  position: fixed;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
.xo2{
  top: 70%;
  left: 14%;
  position: fixed;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}
.xo3{
  top: 40%;
  left: 80%;
  position: fixed;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
.main_menu{
  position: fixed;
  left: 40%;
  top: 1%;
  display: inline;
}
ul{
  list-style-type: none;
  display: inline;
  font-size: 40px;
}
li{
  display: inline;
  text-decoration: none;
  font-weight: bold;
}
table {
  border: 3px solid black;
  position: fixed;
  top: 30%;
  left:30%;
}
td {
  border: 1px solid black;
  height: 60px;
  width: 60px;
  text-decoration: none;
  color: black;
  font-size: 40px;
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
}
.game_list {
  width: 50%;
  height: 100%;
  padding-left: 550px;
}
.game_names {
/*  border: 1px dotted black;*/
  width: 80px;
}
.show{
  position: fixed;
  top: 10%;
  left: 15%;
  font-size: 40px;
}
.new{
  position: fixed;
  top: 35%;
  left: 45%;
}