/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face {
     font-family: font;
     src: url(/font.ttf);
 }

body {
  background-image: url("/main.jpg");
  background-size: 100%;
  font-family: 'font';
  font-size: 200%;
}
.xo1{
  top: 50%;
  left: 20%;
  position: fixed;
  background-image: url("/main.jpg");
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
}
.xo2{
  top: 70%;
  left: 14%;
  position: fixed;
  background-image: url("/main.jpg");
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}
.main_menu{
  position: fixed;
  left: 45%;
  top: 1%;
}
ul{
  list-style-type: none;
  display: inline-block;
}
table {
  border: 3px solid black;
}
td {
  border: 1px solid black;
  height: 18px;
  width: 10px;
  text-decoration: none;
  color: black;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: black;
}
.game_list {
  width: 50%;
  height: 100%;
  padding-left: 550px;
}
.game_names {
/*  border: 1px dotted black;*/
  width: 80px;
}
.show{
  position: fixed;
  top: 30%;
  left: 35%;
}
.new{
  position: fixed;
  top: 35%;
  left: 45%;
}