<center><h2>TicTacToe</h2></center>
<center><p>The Karl Pilkington of games..</p></center>
<img src="xo.png" height="100" width="90" class='xo1'>
<img src="xo.png" height="120" width="95" class='xo2'>
<img src="xo.png" height="125" width="97" class='xo3'>

<center><p><%= User.count %> players have played a total of <%= Game.count %> games.</p></center>